<form class="form-control" [formGroup]="formulario">
    <!--esto un ejemplo de cambia de la carpeta user-date-->>

    <h3>Actualizar usuario</h3>
    <label for="" class="form-label">Id</label>
    <input type="text" class="form-control" formControlName="id" readonly>

    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" formControlName="name">

    <label for="" class="form-label">Lastname</label>
    <input type="text" class="form-control" formControlName="lastname">

    <br>
    <button class="btn btn-primary" (click)="updateUser()">Actualizar</button>
    <button class="btn btn-primary" (click)="navigateTo('/')">Regresar</button>
</form>
